input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    height:auto;
    opacity: 1;
    -webkit-appearance: inner-spin-button !important;
}

.hidable {
    transition: opacity 400ms ease-in-out;
}

.opacityHide {
    opacity: 0;
}

.priceLabel,
.userLabel {
    display: block;
    font-weight: 400;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    color: #878A97;
}

.priceTable {
    position: relative;
    overflow: hidden;
}

.s_pricing-item .s_price_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userLabel {
    line-height: 0.75;
    text-align: left;
}