input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    height:auto;
    opacity: 1;
    -webkit-appearance: inner-spin-button !important;
}

.num-users {
    max-width: 6rem;
    margin: 0 auto;
}